
.ipynb_checkpoints/tp1_pt1-checkpoint.ipynb
.ipynb_checkpoints/tp1_pt1_presentacion-checkpoint.ipynb
TP2/.ipynb_checkpoints/graficos_modelos-checkpoint.py
TP2/.ipynb_checkpoints/preprocessing-checkpoint.py
TP2/.ipynb_checkpoints/arbol_clasificacion-checkpoint.ipynb
TP2/.ipynb_checkpoints/predictions-checkpoint.py
TP2/__pycache__/preprocessing.cpython-39.pyc
TP2/.ipynb_checkpoints/enunciado_parte2-checkpoint.md
TP2/__pycache__/preprocessing.cpython-38.pyc
TP2/__pycache__/funciones_auxiliares.cpython-38.pyc
TP2/.ipynb_checkpoints/funciones_auxiliares-checkpoint.py
TP2/__pycache__/graficos_modelos.cpython-38.pyc
TP2/predicciones/.ipynb_checkpoints/arbol_de_decision-checkpoint.csv
TP2/__pycache__/graficos_modelos.cpython-39.pyc
TP2/__pycache__/funciones_auxiliares.cpython-39.pyc
TP2/.ipynb_checkpoints/naive_bayes-checkpoint.ipynb
TP2/.ipynb_checkpoints/red_neuronal-checkpoint.ipynb
TP2/.ipynb_checkpoints/knn-checkpoint.ipynb
TP2/.ipynb_checkpoints/svm-checkpoint.ipynb
TP2/.ipynb_checkpoints/RandomForest-checkpoint.ipynb
TP2/.ipynb_checkpoints/Boosting-checkpoint.ipynb
TP2/predicciones/.ipynb_checkpoints/arbol_de_decision_bkp-checkpoint.csv
TP2/.ipynb_checkpoints/Baseline-checkpoint.ipynb
parte_2/.ipynb_checkpoints/knn-checkpoint.ipynb
parte_2/.ipynb_checkpoints/preprocessing-checkpoint.py
parte_2/.ipynb_checkpoints/red_neuronal-checkpoint.ipynb
parte_2/.ipynb_checkpoints/svm-checkpoint.ipynb
