
.ipynb_checkpoints/tp1_pt1-checkpoint.ipynb
.ipynb_checkpoints/tp1_pt1_presentacion-checkpoint.ipynb
TP2/.ipynb_checkpoints/graficos_modelos-checkpoint.py
TP2/.ipynb_checkpoints/preprocessing-checkpoint.py
